<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" media="screen" />
        <title>Menu</title>
    </head>
    <body>
        {% include 'header.html' %}
        {% if menu1 %} 
        <h1> You have menu !!!</h1>
        <h2> Menu 1: {{menu1}} </h2>
        <h2> Menu 2: {{menu2}} </h2>
        <h2> Menu 3: {{menu3}} </h2>
        <h2> Menu 4: {{menu4}} </h2>
        {% else %}
        <h1>You have no menu yet</h1>
        {% endif %}
        <form action="/menu" method="post">

        <select name="dish_change", class="selectpicker form-control">
            <h3>Choose which menu to change</h3>
            <option value="first">first</option>
            <option value="second">second</option>
            <option value="third">third</option>
            <option value="None">None</option>
            <option value="all">all</option>

        <!-- </select>
        <select name="choice", class="selectpicker form-control">
            <option value="Regenerate">Regenerate</option>
            <option value="Finish">Finish</option> -->
        </select>
            <input type="submit" value="Apply"/>
        </form>
    </body>
</html>
