<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOME SHIT</title>
    </head>
    <body>
        {% if menu1 %} 
        <h1> You have menu !!!</h1>
        <h2> Menu 1: {{menu1}} </h2>
        <h2> Menu 2: {{menu2}} </h2>
        <h2> Menu 3: {{menu3}} </h2>
        <h2> Menu 4: {{menu4}} </h2>
        <h6>Calories: {{ cal }}</h6>
        <h6>Lipids: {{ lip }}</h6>
        <h6>Fats: {{ fat }}</h6>
        <h6>Carbohydrates: {{ carb }}</h6>
        {% else %}
        <h1>You have no menu yet</h1>
        {% endif %}
        <form action="/menu" method="post">
            <input type="submit" value="Regenerate"/>
        </form>
        <form action="/menuopt" method="post">
            <input type="submit" value="Add you menu"/>
        </form>
    </body>
</html>