<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOME SHIT</title>
    </head>
    <body>
        <table align="center" cellspacing="10" border="10" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <caption>Your nutrition table</caption>
            <tr>
                <th>Calories</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Carbohydrates</th>
            </tr>
            <tr><td>{p3:}</td><td>{p5:}</td><td>{p7:}</td><td>{p9:}</td></tr>
        </table>

        <table align="center" cellspacing="2" border="1" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <caption>Menu for you</caption>
            <tr>
                <th>Sum calories</th>
                <th>Menu</th>
            </tr>
            <tr>
                {% for mw in menus %}
                <td>{{ mw.text }}</td>
                { % endfor %}
            </tr>
        </table> 
        <form action="/next" method="post">
        </select>
        <select name="check" class="selectpicker form-control">
            <option value="menu">Menu1</option>
            <option value="menu">Menu2</option>
            <option value="menu">Menu3</option>
        </select>    
        <p><input class = clicker type="submit" value="Calculate..."/></p>
        <table align="center" cellspacing="10" border="10" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <caption>You've eaten this much</caption>
            <tr>
                <th>Calories</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Carbohydrates</th>
            </tr>
            <tr><td>{p11:}</td><td>{p12:}</td><td>{p13:}</td><td>{p14:}</td></tr>
        </table>

    </form>
</html>