<center><h2>Nutrition</h1></center>

<center>
    <nav style='width: 70%; margin: 50px auto'>
        <ul style='list-style: none; display: inline-flex; line-height: 35px;'>
            <li style="display: inline-block">
                Home
            </li>
            <li>
                <form action="/registration/submitted" method="post">
                    <input name="login" placeholder="Login: " type="text"/>
                    <input name="password" placeholder="Password: " type='text'/>
                    <input class=clicker type="submit" value="Login"/>
                    <input style='margin-left: 25px' class=clicker type="submit" value="Register"/>
                </form>
            </li>

        </ul>
    </nav>
</center>
