<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOME SHIT</title>
    </head>
    <body>
        <table align="center" cellspacing="10" border="10" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <caption>Your nutrition table</caption>
            <tr>
                <th>Calories</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Carbohydrates</th>
            </tr>
            <tr><td>2744</td><td>100</td><td>91</td><td>377</td></tr>
        </table>

        <table align="center" cellspacing="2" border="1" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <caption>Menu for you</caption>
            <tr>
                <th>Sum calories</th>
                <th>Menu</th>
            </tr>
            <tr>
            <td rowspan="2" bgcolor="#FBF0DB">All calories: 45</td>
            <td>61</td>
            <td>141</td>
            <td>290</td>
            </tr>
        </table> 
        <form action="/next" method="post">
        </select>
        <select name="check" class="selectpicker form-control">
            <option value="menu">Menu1</option>
            <option value="menu">Menu2</option>
            <option value="menu">Menu3</option>
        </select>    
        <p><input class = clicker type="submit" value="Calculate..."/></p>
        <table align="center" cellspacing="10" border="10" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <caption>You've eaten this much</caption>
            <tr>
                <th>Calories</th>
                <th>Proteins</th>
                <th>Fats</th>
                <th>Carbohydrates</th>
            </tr>
            <tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
        </table>

    </form>
</html>