<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOME SHIT</title>
    </head>
    <body>
        <h1>Your nutrition table</h1>
        <table align="center" cellspacing="10" border="10" cellpadding="5" width="600" bgcolor="#add8e6", height="100%">
            <tr>
                <th>1:</th>
                <td>{p1:}</td>
              </tr>
              <tr>
                <th>2:</th>  
                <td>{p2:}</td>      
              </tr>  
              <tr>
                <th>3:</th>  
                <td>{p3:}</td>      
              </tr>  
              <tr>
                <th>4:</th>  
                <td>{p4:}</td>      
              </tr>  
            </table>
        <form action="/next/choice/next" method="post">
                <select name="menu" class="selectpicker form-control">
                <option value="first">1</option>
                <option value="second">2</option>
                <option value="third">3</option>
                <option value="fourth">4</option>
            </select>
            <a href = "base.html">Найдется всё</a>
          </form>
</html>