<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SOME SHIT</title>
    </head>
    <body>
        <h0>Menu 1</h0>
        <h1>Enter up to 7 products, enter "-" in case you have less, should be divided by coma = "product, grams"</h1>
        <form action="/self" method="post">
        <input name="m1p1" placeholder="Product, grams" type='text'/>
        <input name="m1p2" placeholder="Product, grams" type='text'/>
        <input name="m1p3" placeholder="Product, grams" type='text'/>
        <input name="m1p4" placeholder="Product, grams" type='text'/>
        <input name="m1p5" placeholder="Product, grams" type='text'/>
        <input name="m1p6" placeholder="Product, grams" type='text'/>
        <input name="m1p7" placeholder="Product, grams" type='text'/>
        <h0>Menu 1</h0>
        <h1>Enter up to 7 products, enter "-" in case you have less, should be divided by coma = "product, grams"</h1>
        <input name="m1p1" placeholder="Product, grams" type='text'/>
        <input name="m3p2" placeholder="Product, grams" type='text'/>
        <input name="m3p3" placeholder="Product, grams" type='text'/>
        <input name="m3p4" placeholder="Product, grams" type='text'/>
        <input name="m3p5" placeholder="Product, grams" type='text'/>
        <input name="m3p6" placeholder="Product, grams" type='text'/>
        <input name="m3p7" placeholder="Product, grams" type='text'/>
        <h0>Menu 1</h0>
        <h1>Enter up to 7 products, enter "-" in case you have less, should be divided by coma = "product, grams"</h1>
        <input name="m3p1" placeholder="Product, grams" type='text'/>
        <input name="m3p2" placeholder="Product, grams" type='text'/>
        <input name="m3p3" placeholder="Product, grams" type='text'/>
        <input name="m3p4" placeholder="Product, grams" type='text'/>
        <input name="m3p5" placeholder="Product, grams" type='text'/>
        <input name="m3p6" placeholder="Product, grams" type='text'/>
        <input name="m3p7" placeholder="Product, grams" type='text'/>
        <a href = "selfcalfcg.html">Найдется всё</a>
    </form>
</html>